/**
 *  Demo Style
 *
 *  This is the style used by the page at https://benoitzohar.github.io/ProntoCSS/
 **/

//Declare your own variables
$colors: #FC585A #1682FB #FF9500 #4CD964;
$font-family-headers: 'Quicksand', "Helvetica Neue", Arial, sans-serif;
$font-family: 'Raleway', "Helvetica Neue", Arial, sans-serif;

//Import prontocss framework
@import "../src/pronto";

//All the demo page relative styles

body {
    background-color: #eee;
    background-image: linear-gradient(#fefefe 2px, transparent 2px), linear-gradient(90deg, #fefefe 2px, transparent 2px), linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.header-logo {
    width: 100%;
    max-width: 348px;
    max-height: 211.5px;
}

.main {
    background-color: rgba(255, 255, 255, 0.85);
}

.plain {
    @extend .bg;

    position: relative;
    box-sizing: border-box;
    min-height: 1.7rem;
    margin-bottom: 0;
    border: 1px solid #FFF;
    border-radius: $border-radius;
    overflow: hidden;
    text-align: center;
    color: #fff;
    margin-bottom: 0.2rem;
}

.box {
    position: relative;
    box-sizing: border-box;
    min-height: 2rem;
    margin-bottom: 0;
    background: transparentize(nth($colors, 2), 0.4);
    border: 1px solid #FFF;
    border-radius: $border-radius;
    overflow: hidden;
    text-align: center;
    color: #fff;
    padding: 0.2rem;

    .plain {
        margin-bottom: 0;
    }
}

.box-high {
    height: 5em;
}
