.btn {

    display: inline-block;
    font-family: $font-family;
    border: $border-size $border-type $default-color;
    background: none;
    padding: 0.4em 0.7em;
    text-decoration: none;
    color: $default-color;
    cursor: pointer;
    border-radius: $border-radius + 1;

    &:hover {
        background-color: $default-color;
        color: white;
    }
}
