.btn {
    display: inline-block;
    border: 1px solid $default-color;
    background: none;
    padding: 0.4em;
    text-decoration: none;
    color: $default-color;
    cursor: pointer;
    border-radius: $border-radius;

    &:hover {
        background-color: $default-color;
        color: white;
    }
}
