//
// Colors
//

//properties for each color
@each $title, $color in $internal-colors {
    .txt#{$title} {
        color: $color;
    }

    .bg#{$title} {
        background-color: $color;
    }

    .brd#{$title} {
        border: $border-size $border-type $color;
    }
}
