
body {
    font-family: $font-family;
    font-size: $font-size;
}

@for $i from 1 through 6 {
  h#{$i} {
      font-family: $font-family-headers;
      color: $default-color;
      font-size: $font-size-headers - ($i*0.4);
  }
}
