//TODO: remove this import from here, maybe, since we cannot put a conditional here, add this as a "default override" tip
@import 'https://fonts.googleapis.com/css?family=Quicksand|Raleway';


body {
    font-family: $font-family;
    font-size: $font-size;
}

@for $i from 1 through 6 {
  h#{$i} {
      font-family: $font-family-headers;
      color: $secondary-color;
      font-size: $font-size-headers - ($i*0.2);
  }
}
