// Variables


//Colors

$main-color:        #FC585A;
$secondary-color:   #1682FB;

//Fonts

// Override this variable if you plan to use any other font than 'Quicksand' & 'Raleway', otherwise the framework will import them by default:
$use-custom-font-families: false !default;

$font-family-headers: 'Quicksand', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$font-size-headers: 3rem; //base size for the headers (this will be the biggest, all the smaller headers will be calculated based on this)
$font-size: 1rem; //base size for the regular fonts

// Grid variables (see https://github.com/hugeinc/flexboxgrid-sass for more infos)

// Set the number of columns you want to use on your layout.
$grid-columns: 12 !default;
// Set the gutter between columns.
$gutter-width: 1rem !default;
// Set a margin for the container sides.
$outer-margin: 2rem !default;
// Create or remove breakpoints for your project
// Syntax:
// name SIZErem,
$breakpoints:
  sm 48em 46rem,
  md 62em 61rem,
  lg 75em 71rem !default;
$flexboxgrid-max-width: 1200px !default;
